
/* Page Settings */

*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* Wrapper Settings */ 

.Wrapper{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid black;
    height: 90vh;
}

/* Placement for LOG and MAIN */

.Log{
    border: 1px solid black;
    width: 30%;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
}

.Main{
    border: 1px solid black;
    width: 70%;
    text-align: center;
    align-items: center;
    padding: 10px 10px;
}

/* Settings for FOOTER and FOOTERS */

footer{
    border: 1px solid black;
    text-align: center;
    height: 7.6vh;
    align-items: end;
    padding: 10px 10px;
}

/* Button settings */ 

button{
    font-size: 25px;
    transition: 300ms;
    border: 2px solid rgb(253, 249, 0);
    border-radius: 10px;
    box-shadow: 0px 0px 10px;
    background-color: rgba(255, 255, 255, 0.966);
    color: rgb(255, 0, 0);
    padding: 5px 5px;
    margin-top: 10px;
    margin-bottom: 25px;
}

button:hover{
    font-size: 27px;
    transition: 300ms;
}

button:active{
    font-size: 28px;
    transition: 10ms;
}

/* Setting for MatchCounter */ 

#MatchCounter{
    font-size: 25px;
    font-weight: bolder;
}

/* Setting for Version */ 

#version{
    text-align: left;
    margin-left: 20px;
}